
header{
    background-color: green;
}

ul{
    text-decoration: none;
    list-style-type: none;
}

footer{
    background-color: green;
}

#Index > .wrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr ;
    grid-template-areas:
    "header header"
    "main"
    "aside"
    "footer footer";  
}

#Sida1 > .wrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "header header"
    "main"
    "aside"
    "footer footer";
}

#Sida2 > .wrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "header header"
    "main"
    "aside"
    "footer footer";
}

#Sida3 > .wrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "header header"
    "main"
    "aside"
    "footer footer";
}