#Index > .wrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr ;
    grid-template-areas:
    "header header"
    "main"
    "aside"
    "footer footer";  
}

#index,header{
    border: 1fr solid;
    border-style: none;
}

#Sida1 > .wrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "header header"
    "main"
    "aside"
    "footer footer";
}

#Sida2 > .wrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "header header"
    "main"
    "aside"
    "footer footer";
}

#Sida3 > .wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "header header"
    "main"
    "aside"
    "footer footer";
}