/* ger heddern och footern sin färg samt höjd */
header, footer{
    background: linear-gradient(to right, turquoise, orange) ;
    height: 75px;
}

/* sätter possition på headern */ 
header{
    border-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;   
}

/* ställer position på footern */
footer{
    border-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

/* gör text färg vit */
a{
    text-decoration:none;
    color:white;
}

/* Ställer possitionen på navigeringsmenyn */
nav>ul{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    margin-top: 25px;
}

ul, li{
    text-decoration: none;
    list-style-type: none;
}

li{
    margin-left: 10px;
    margin-right: 10px;
}

nav li{
    font-size: 1.2em;
    border-radius: 25px;
    padding: 9px 12px ;
}

/* gör färgen för listan grå */
li:hover{
    background-color: gray;
}
