html {
    height: 100%;
    width: 100%;
}
 
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, #451D03, #f07524); 
    color: white;
    height: 100%;
    width: 100%;
}

.wrapper{
    height: 100%;
}

#Index > .wrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "header"
    "main"
    "aside"
    "footer";
}

#Sida1 > .wrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto 1fr 1fr;
    grid-template-areas:
    "header"
    "main"
    "aside"
    "footer";
}

#Sida2 > .wrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto 1fr;
    grid-template-areas:
    "header"
    "main""
    "footer";
}

#Sida3 > .wrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "header"
    "main"
    "aside"
    "footer";
}

#Index main,#Sida1 main,#Sida3 main{
    margin-left: 12px;
}

#Sida1 main{
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr 1fr ;
}

#Sida2 main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

#tiger .wrapper, #apa .wrapper, #fågel .wrapper, #fisk .wrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto 1fr 1fr;
    grid-template-areas:
    "header"
    "main"
    "aside"
    "footer";
}

#tiger p, #apa p, #fågel p, #fisk p{
    margin-left: 15px;
}

#tiger h1, #apa h1, #fågel h1, #fisk h1{
    margin-left: 15px;
}


#Sida2 section{
    display: block;
    text-align: center;
}

img{
    display:flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 50%;
    border-radius: 15% ;
    justify-content: center;
    align-items: center;
}

.logo{
    width: 7vw;
    position: absolute;
    top: 2%;
    height: 3.8550468262226847vh;
}

.logo2{
    height: 0;
    height: 0;
}


table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    height: auto;
    width: 900px;
    text-align: center;
    font-size: 20px;
}

table{
    display: flex;
    justify-items: center;
    align-items: center;
}
